body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  padding-left: 15px;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; }
    h1{padding-bottom: 7px;
       font-size: 18px;
       border-bottom: 1px solid #ccc;} }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
    
    
    h1 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
    border-bottom: 1px solid #ccc;
    }

 
    
  ul li {
    font-size: 12px;
    list-style: square; } }
    
    #product-list{ margin-left: 15px;}
    #product_title{
     font-size: 16px;
     font-weight: bold;
     font-family: Calibri, arial, helvetica, sans-serif;
      }
      
      #list-image{}
      #list-line-even{ background-color: #F3F3F3; }
      #list-line-odd{ background-color: #fff; }
    
    
    #list-line-odd{background: #ccc;}
    
    
    
    
    